
<body>
    <div>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f6dd53;">
        <div class="container-fluid">
            <img style="height: 30px; width: auto;" src="https://cdn-icons-png.flaticon.com/512/1518/1518738.png" alt="">
            &nbsp;
            &nbsp;
            <a style="font-size: 30px;" class="navbar-brand" href="#">MNSS Insurance</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
              </li>
             
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Products
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" routerLink="/healthpoliciy">Health Policies</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" routerLink="/homepoliciy">Home Policies</a></li>
                </ul>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">About Us</a>
              </li>

              <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/mypolicy">My Policy</a>
              </li> -->

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/admin">Admin</a>
              </li>

              
              
            </ul>
            <!-- <form class="d-flex">  
              <button style="margin-right: 10%;"  class="btn btn-outline-success" type="submit">Login</button>
            </form> -->
          </div>
        </div>
      </nav>
    </div>



<!-- body -->

<div  id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="https://scontent.fpnq7-3.fna.fbcdn.net/v/t39.30808-6/298054610_5975739022525078_2466198387552481278_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=730e14&_nc_ohc=ckBH9F79Gx0AX9KVDlK&_nc_ht=scontent.fpnq7-3.fna&oh=00_AT_u_kfRCxRhZdjt7ksszuRCmiU_2lNP06fTJTRz-jSSPQ&oe=62F26225" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://scontent.fpnq7-3.fna.fbcdn.net/v/t39.30808-6/297101482_5975739012525079_1037764472209017799_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=730e14&_nc_ohc=HVQqlKEk0KgAX86piWA&_nc_oc=AQkREvGC34-ijFdW13gTpYe2cfh6PXV-Dgm9crEkmjT9eTMVrPVN034dZzG-kVziD9hUaf9fGB_BUS6pQynUw6rr&tn=41n6anPaGbNJVmRq&_nc_ht=scontent.fpnq7-3.fna&oh=00_AT-o3pcRkXgCuKLA-O9_z2DYPUklRmM5CJ7aq7w3MUOEkA&oe=62F3072F" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://scontent.fpnq7-4.fna.fbcdn.net/v/t39.30808-6/297037985_5975739002525080_4110134753057057772_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=730e14&_nc_ohc=GfBEeiGv32kAX95zpZC&_nc_ht=scontent.fpnq7-4.fna&oh=00_AT_INkJQJAdibd8F66YfAfJKJtaXvrKEqEPQRux0PEvLKg&oe=62F292BB" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container"> 

<div style="margin-top: 30px; margin-bottom: 50px;" class="row">
  <div class="col-sm">
    <div class="card" style="width: 18rem;">
      <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/insurance-generic-marketing-advertising-templ-design-template-db2b92e01be05471e34fe9cff681da3b_screen.jpg?ts=1642852279" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  
  <div class="col-sm">
    <div class="card" style="width: 18rem;">
      <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/life-insurance-templte-design-template-6884f61a15f4ee9cc80cb0428bf83ca5_screen.jpg?ts=1659239062" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  
  <div class="col-sm">
    <div class="card" style="width: 18rem;">
      <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/insurance-design-template-ff431470e1a4cdf76f2f3194b0215dca.jpg?ts=1642275321" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <div class="col-sm">
    <div class="card" style="width: 18rem;">
      <form style="margin-left: 20px; width: 500px;">
        <div>
            <h3 style=" margin-left: 30px; color: rgb(221, 180, 12); margin-top: 10px;">Admin Login</h3>
           
        </div>
        <br>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input style="width: 220px; border-radius: 25px;" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"> Password</label>
          <input style="width: 220px; border-radius: 25px;" type="password" class="form-control" id="exampleInputPassword1">
        </div>
        
        <button style="margin-bottom: 20px; border-radius: 20px;" type="submit" class="btn btn-warning btn-lg">Submit</button>

    </form>
    </div>
  </div>
  </div>
  
</div>
<!-- </div>
</div> -->


</body>
